header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

main {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.quiz-answers {
    list-style: decimal;
    text-align: left;
    margin-left: 30%;
}

.quiz-answers button {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    font-weight: lighter;
    color: white;
    width: 60%;
}

.quiz-answers button:hover {
    background-color: blueviolet;
}

#highscore-screen {
    text-align: center;
    margin-top: 100px;
}

#highscore-screen:nth-child(2) {
    background-color: rbba(54, 17, 89, 0.5);
}